{% extends '@App/base.html.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    <h1>List of Car Offers</h1>

    {% for carOffer in carOffers %}
        <p class="test-car-offer">
            <span class="test-name">{{ carOffer.getName() }}</span>
            - {{ carOffer.getPrice() }}
        </p>
    {% endfor %}

{% endblock %}
