{% extends '@App/base.html.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    <h1>List of Car Offers</h1>

    {% for carOffer in carOffers %}
        <p class="test-car-offer">
            <a href="{{ path('car_offer_detail', {'id': carOffer.getId()}) }}">
            <span class="test-name">{{ carOffer.getName() }}</span>
            - {{ carOffer.getPrice() }}
            </a>
        </p>
    {% endfor %}

{% endblock %}
