{% extends '@App/base.html.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    {% for carOffer in carOffers %}
        <p>{{ carOffer.getName() }} - {{ carOffer.getPrice() }}</p>
    {% endfor %}

{% endblock %}
