{% extends 'base.html.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    <h1>Hello from Twig</h1>

    {{ info }}

    {% for number in numbers %}
        <li>{{ number }}</li>
    {% endfor %}

    {% if rand > 50 %}
        nad 50
    {% else %}
        do 50
    {% endif %}
{% endblock %}
